<section id="o-que-preciso">
  <div class="container">
    <h2 class="section-title mb-60">
      O que preciso fazer para antecipar o Saque Aniversário?
    </h2>
    <div
      class="swiper swiperPassos swiper-initialized swiper-horizontal swiper-backface-hidden"
    >
      <div
        class="swiper-wrapper"
        aria-live="polite"
        style="transform: translate3d(0px, 0px, 0px)"
      >
        <div
          class="box_passos_new swiper-slide swiper-slide-active"
          role="group"
          aria-label="1/6"
          style="width: 426.667px; margin-right: 20px"
        >
          <div class="flex justify-content-center">
            <h4>1. Confirme sua opção pelo Saque Aniversário (app FGTS)</h4>
          </div>
          <p>
            Você pode fazer isso pelo próprio celular, baixando o app FGTS. O
            Saque Aniversário permite que você retire uma parte do seu saldo de
            todos os anos, no mês do seu aniversário. O valor a ser antecipado
            depende do seu saldo no FGTS.
          </p>
        </div>
        <div
          class="box_passos_new swiper-slide swiper-slide-next"
          role="group"
          aria-label="2/6"
          style="width: 426.667px; margin-right: 20px"
        >
          <div class="flex justify-content-center">
            <h4>
              2. Autorize o nosso parceiro UP.P a consultar o seu Saldo do FGTS
            </h4>
          </div>
          <p>
            No aplicativo, clique em "Autorizar bancos a consultarem seu FGTS",
            selecione a opção "Empréstimo Saque-Aniversário" e então selecione a
            Up.p Sociedade de Empréstimo entre Pessoas. Depois de autorizado
            você vai continuar em nosso site de forma on-line ou pelo WhatsApp,
            sem burocracia e com toda segurança!
          </p>
        </div>
        <div
          class="box_passos_new swiper-slide"
          role="group"
          aria-label="3/6"
          style="width: 426.667px; margin-right: 20px"
        >
          <div class="flex justify-content-center">
            <h4>3. Simule a Antecipação do Saque Aniversário do FGTS</h4>
          </div>
          <p>
            Durante o procedimento, você pode selecionar no simulador a
            quantidade de anos de antecipação, depois é só clicar em contratar,
            preencher suas informações e assinar o contrato via link, e em
            instantes o crédito será realizado em sua conta bancária.
          </p>
        </div>
      </div>
    </div>
    
  </div>
</section>
