<section class="section whatsapp" id="quer-saber-quanto">
  <div class="container">
    <div class="flex">
      <div class="width_42">
        <p class="passos-title">
          "Quer saber quanto você pode antecipar do seu FGTS?"
        </p>
      </div>
      <div class="width_42">
        <a
          href="https://api.whatsapp.com/send?phone=5511940828456"
          target="_blank"
          rel="noopener noreferrer"
          class="btn btn-whatsapp mobile-center white inc-track"
          data-label="Simulação"
        >
          Faça uma simulação
        </a>
      </div>
    </div>
  </div>

</section>
