<section class="section" id="como-funciona">
    <div class="container">
        <div class="width_85">
           <h2 class="section-title mb-30">Como funciona a Antecipação do Saque Aniversário do FGTS?</h2>
           <div class="section-text">
            <p class="mb-20">
                Se você tem saldo no FGTS, tem que acessar o aplicativo do FGTS e optar pela modalidade Saque Aniversário, não precisa esperar para resgatar o que você tem direito.
            </p>
            <p>
               Você nem precisa se preocupar com o pagamento, porque o valor é debitado diretamente do seu saldo FGTS e você continua recebendo juros sobre o seu saldo.
               <strong> O débito é anual no mês do seu aniversário e conforme a quantidade de anos que você solicitará de antecipação do saldo do FGTS.</strong>  
            </p>
           </div> 
           <h2 class="section-title mb-30">
            Pra quem precisa de dinheiro rápido e sem burocracia, sem dúvida essa é a melhor opção. Você pode antecipar até 10 anos do seu Saque Aniversário!
           </h2>
        </div>
    </div>
</section>
