<section class="hero">
  <div class="container flex wrap relative">
    <h1 class="hero-title">Antecipação Saque Aniversário do FGTS</h1>
    <h2 class="hero-minititle">Com a Hupel, taxas a partir de 1,49% a.m!</h2>
    
    <div class="width_57 container-teste">
      <ul class="hero-ul">
        <li>
          <div><strong>100% Online</strong>, faça no lugar que preferir!</div>
        </li>
        <li>
          <div>Antecipe em até <strong>10 anos</strong></div>
        </li>
        <li>
          <div><strong>Sem</strong> parcela mensal</div>
        </li>
        <li>
          <div><strong>Disponível</strong> para negativado</div>
        </li>
      </ul>
      <img [src]="'assets/imgheader.png'" alt="image" class="img-hero img-hero-2 img-fluid d-none d-lg-block mx-auto width_42">
    </div>
    <p class="hero-text">
      Com a HüPEL a simulação e antecipação é do seu jeito! Em
      menos de 3 minutos! Você escolhe seguir on-line ou via <a href="https://api.whatsapp.com/send?phone=5511940828456" target="_blank"><span>WhatsApp!</span> </a> 
    </p>
    
  </div>
</section>
