<section>
    <div class="container">
        <div class="width_100">
            <div class="formulario-box">
                <h2 class="formulario-title mb-10">Antecipar FGTS agora</h2>
                <div class="section-text mb-20">
                    <p>
                        "Não se preocupe. Seus dados estão seguros e serão utilizados para 
                        uma experiência personalizada pra você"
                    </p>
                </div>
                <form action="
                "><div class="form-fields">
                    <input type="text" name="nome" required placeholder="Nome" class="form-input">
                    <input type="text" name="cpf" required placeholder="CPF" maxlength="14" class="form-input cpf" pattern="\d{3}\.\d{3}\.\d{3}-\d{2}">
                    <input type="text" name="datadenascimento" required placeholder="Data de Nascimento" onfocus="(this.type='date')" onblur="(this.type='text')" class="form-input data">
                    <input type="email" name="email" required placeholder="E-mail" class="form-input email">
                    <input type="text" name="telefone" required placeholder="Telefone" class="form-input email">
                    <button type="submit" class="btn btn-whatsapp form-submit" href="">
                        Enviar
                    </button>
                </div></form>
            </div>
        </div>
    </div>
</section>